* {
    margin: 0px;
    padding: 0px;
    outline: 1px dotted darkred;
    background-color: yellow;
}

#wrapper {
    width: 970px;
    height: 970px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(9, 9fr);
    grid-template-rows: minmax(100px, max-content);
    grid-gap: 10px;
}

.container {
    background-color: yellow;
    height: 100px;
}